
*.dll
*.pdb
*.exe
.vs/Algorithm/v16/.suo
Algorithm/bin/Debug/net5.0/Algorithm.runtimeconfig.dev.json
*.csproj.nuget.dgspec.json
*.nuget.dgspec.props
*project.nuget.cache
*.assets.cache
*.csproj.nuget.g.targets
*.AssemblyInfo.cs
*.csproj.FileListAbsolute.txt
ST/obj/Debug/net5.0/ST.csproj.FileListAbsolute.txt
ST/obj/Debug/net5.0/ST.GeneratedMSBuildEditorConfig.editorconfig
StdDraw/obj/Debug/net5.0/StdDraw.csproj.FileListAbsolute.txt
StdDraw/obj/Debug/net5.0/StdDraw.csprojAssemblyReference.cache
ST/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
